@model IEnumerable<DAL.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Requests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        @if (item.ProductType == Common.Enums.ProductType.Blood)
    {
        <td>
            @Html.DisplayFor(modelItem => item.BloodType)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Rh)
        </td>
}
else
{
    <td></td>
    <td></td>
}
        <td>
            @Html.ActionLink("Accept", "AcceptRequest", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
            @Html.ActionLink("Ask For Blood", "SendNotification", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
        </td>
    </tr>
}

</table>
