@model DAL.Models.Donation

@{
    ViewBag.Title = "SecondAnalyse";
}

<h2>SecondAnalyse</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Donation</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input id="id" type="hidden" value="@Model.Id" />

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="blood" type="submit" value="Blood" class="btn btn-default btn-danger" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="products" type="submit" value="Products" class="btn btn-default btn-success" />
        </div>
    </div>
</div>
}

<input type="hidden" id="redirect" value="@Url.Action("Donations","BloodBank")" />

@section scripts{ 
<script>
    $("#blood").on("click", function (e) {
        e.preventDefault();
        $.ajax({
            url: "../SaveBlood",
            type: "POST",
            data: {
                "Id": $("#id").val(),
                "Amount": $("#Amount").val()
            },
            success: function () {
                window.location = $("#redirect").val();
            }
        })
    })
    $("#products").on("click", function (e) {
        e.preventDefault();
        $.ajax({
            url: "../SaveProducts",
            type: "POST",
            data: {
                "Id": $("#id").val(),
                "Amount": $("#Amount").val()
            },
            success: function () {
                window.location = $("#redirect").val();
            }
        })
    })
</script>
}