@model IEnumerable<DAL.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Requests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x => x.Amount > 0))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            @if (item.ProductType == Common.Enums.ProductType.Blood)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.BloodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rh)
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />


<h4>Received</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x => x.Amount == 0))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        @if (item.ProductType == Common.Enums.ProductType.Blood)
        {
        <td>
            @Html.DisplayFor(modelItem => item.BloodType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rh)
        </td>
        }
        else {
            <td></td>
            <td>
            </td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
