@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @Html.ActionLink("Hello, " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })

        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Admin", "Index", "Admin", null, htmlAttributes: new { @class = "dropdown-item" })
        }
        if (User.IsInRole("Doctor"))
        {
            @Html.ActionLink("Hospital", "Index", "Hospital", null, htmlAttributes: new { @class = "dropdown-item" })

        }
        if (User.IsInRole("BloodBankDoctor"))
        {
            @Html.ActionLink("BloodBank", "Index", "BloodBank", null, htmlAttributes: new { @class = "dropdown-item" })

        }
        @Html.ActionLink("My Analyses", "MyAnalyses", "Home", null, htmlAttributes: new { @class = "dropdown-item" })
        @Html.ActionLink("Notifications", "MyNotifications", "Home", null, htmlAttributes: new { @class = "dropdown-item" })
        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()" style="padding:0 0 0 15px;">Log off</a>
    }
}
else
{
    @Html.ActionLink("LogIn", "LogIn", "Account", null, htmlAttributes: new { @class = "dropdown-item" })
}

