@model IEnumerable<DAL.Models.BloodBank>

@{
    ViewBag.Title = "BloodBanks";
}

<h2>BloodBanks</h2>

<p>
    @Html.ActionLink("Create New", "CreateBloodBank")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditBloodBank", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteBloodBank", new { id=item.Id })
        </td>
    </tr>
}

</table>
